@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

fieldset {
    margin: 2em;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    width: 40%;
    min-width: 200px;
}

fieldset:last-of-type {
    margin-bottom: 0;
}

legend {
    font-size: 1.75em;
    padding: 0 .25em;
    color: #999;
}

label {
    display: block;
    padding-top: .5em;
    margin-top: 1em;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5em;
    border: solid 1px #999;
}

.checks label {
    display: inline-block;
    padding-top: 0;
}

input[type="submit"] {
    margin: 1em 2.75em 1em;
    padding: .25em;
    display: block;
}