body {
    margin: 0; 
    padding: 0;
  }
  
  nav {
    background-color: #efac2f;
    width: 25%; 
    height: 100vh;
    border-right: 1px solid #666;
  }
  
  ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  
  a {
   display: block; 
   padding: 1rem; 
   text-decoration: none; 
   color: #2c3e57; 
   font-weight: bold; 
   border-bottom: 1px solid #666;
  }
  
  a:hover {
    background-color: #2c3e57;
    color: #efac2f; 
  }
  
  
  
  
  
  
  /* generic font styling, no relevant code here */
  body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 150%;
  }