button, input, select, textarea {
	font-family: inherit;
	font-size: 100%
}
input, textarea, select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
label {
	display: block;
}
input[type="checkbox"]+label {
	display: inline;
}
fieldset {
	border-width: 0;
	padding: 0;
}
input[type="text"], input[type="email"], input[type="tel"] {
	width: 90%;
	margin: .2em auto .8em auto;
}
#zip {
	width: auto;
}
select, fieldset, legend {
	margin: .2em auto .8em auto;
}
legend {
	margin-left: -.1em;
	font-weight: bold;
}
@media (min-width: 30em) {
	label {
		display: inline-block;
		width: 10em;
	}
	input[type="text"], input[type="email"], input[type="tel"] {
		width: 55%;
	}
}
input:valid {
	border: 2px solid green;
}
input:invalid {
	border: 2px dashed red;
}