*   {
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
background: url(images/aboveTree.jpg) no-repeat center center fixed;
background-size: cover;
}

p {
  margin: 1em 0;
}

/* Fieldset and legend */
fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px #ccc;
  border-radius: 6px;
  min-width: 200px;
  background-color: rgba(255,255,255,.85);
}

legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: #999;
  position: relative;
  top: 25px;
  left: -6px;
}

/* Labels */
label{
  display: block;
  margin-top: 1em;
}

hr {
border: none;
border-top: solid 1px #89cbd1;
}

.radioBtns p {
margin-bottom: 0;
}

.checks, .radioBtns {
margin-bottom: 1em;
}

.checks label {
  margin-top: 0;
}

label:first-of-type {
  margin-top: 0;
}

/* Inputs and textarea  */
input {
  padding: .5em;
  border: solid 1px #999;
}

input[type="email"],  input[type="text"] {
  width: 15em;
}

textarea {
  min-height: 8em;
  min-width: 100%;
  padding: .5em;
  border: solid 1px #999;
}

/* radio buttons and checkboxes */
.checks {
  margin-bottom: 1em;
}

.checks p {
  margin-bottom: 0;
}

input[type="checkbox"] + label,  input[type="radio"] + label {
  display: inline-block;
  padding-top: 0;
  margin-top: 0;
}

input[type="radio"] {
  margin-left: 1.5em;
  margin-right: 0;
}

input[type="radio"]:first-of-type {
  margin-left: 0;
}

/* Submit Button */
input[type="submit"] {
  padding: .5em 1em;
  border-radius: 6px;
  background-color: #3ca3ac;
  color: #fff;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
}

/* Focus style */
input:focus, textarea:focus {
  outline: solid 2px #04bae9;
  box-shadow: 0 0 5px #04bae9;
  background-color: #cbf1fb;
}


/* Custom Checkboxes */
/* at mobile we want checkbox label to appear to the right of checkbox. This is an exception to the other labels on the page */
.checks label {
display: inline-block;
}
/* need to make custom style for checkbox too */
.checks span:before {
display: inline-block;
box-sizing: border-box;
font-family: "Font Awesome 5 Free";
content: "\f0c8";
color: #3ca3ca;
font-size: 1.3em;
vertical-align: middle;
margin-top: -3px;
}
/* hide the default checkbox */
input[type="checkbox"] {
position: absolute;
opacity: 0;      
width: 20px;
height: 20px;
margin-top: 1px;
margin-left: -1px;
}
/* create the checked state, we will use font awesome checked icon */
input[type="checkbox"]:checked ~ span:before {            
content: "\f14a"; /*unicode for checked box */
}


/* Custom Radio Buttons */

/* make the new radio button */
.radioBtns span:before {
display: inline-block;
font-family: "Font Awesome 5 Free";
content: "\f111";
color: #3ca3ca;
font-size: 1.2em;
vertical-align: middle;
margin-top: -4px;
}
/* hide the default radio buttons */
input[type="radio"] {
position: absolute;
opacity: 0;
}
/* create the on (selected) state */
input[type="radio"]:checked ~ span:before { 
content: "\f192"; /* unicode for fa dot circle */
}
/* at small screen spread out the stacked radio buttons: */
.radioBtns label {
margin-top: .5em;
}


/* Toggle Switch */
label.toggleSwitch {
cursor: pointer;
margin: 1.25em 0 1em;
display: flex; 
align-items: center;
}
/* hide the "real" checkbox visually, already doing this on line 139 */

/* style the "fake" checkbox, (the pill shaped container behind the dot) */
.checkbox-value {
background-color: #ddd;
border: 0.1em solid #3ca3ca;
border-radius: 0.75em;
box-shadow: inset 0 0.0625em 0 0.0625em #3ca3ca52;
display: inline-block;
height: 1.1em;
margin: 0 0.5em 0 0;
position: relative;
transition: all 120ms;
vertical-align: -0.5em;
width: 2.4em;
}
/* create the circle (dot) for the slider */
.checkbox-value::before {
background-color: #fff;
border: 0.1em solid;
border-color: inherit;
border-radius: 50%;
box-shadow: 0 0.0625em 0 0.0625em rgba(0,0,0,0.075);
content: '';
display: block;
width: 1.1em;
height: 1.1em;
left: 25%;
margin-left: -.7em;
margin-top: -0.125em;
position: absolute;
top: 0;
transition: all 120ms ease-in;
}
/* overwrite a previous rule, line: 148. (Gets rid of black outline box).  */
.toggleSwitch input[type="checkbox"]:checked ~ span:before {
content: " ";
}

/*style the pill shaped item when the field is checked*/
input:checked + .checkbox-value {
background-color: #89cbd1;
border-color: #169a9a;
}
/* repositions the circle */
input:checked + .checkbox-value::before {
left: 80%;
}



/* Large screen rules */
@media screen and (min-width: 430px) {
   legend {
      font-size: 1.75em;
  }
  
   fieldset {
      width: 40%;
      min-width: 320px;
       margin: auto;
  }
  
   .checks label, .radioBtns label {
      display: inline-block; 
      padding-top: .5em;
      margin-top: 0;
      margin-right: .5em;
  }
}
