/* position and style the calendar icon */
i.fas.fa-calendar-alt {
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 1.4em;
    color: #dfe5e9;
    pointer-events: none;
}

input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

/* remove default select box hardware for safari */
select {
    -webkit-appearance: none;
}




