button, input, select, textarea {
	font-family: inherit;
	font-size: 100%
}
input, textarea, select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#styled input, #styled button {

}
input, button {

}
#styled input[type="submit"]:focus, #styled button[type="submit"]:focus {
	border: 2px solid green;
	outline:none;
}
#styled input[type="submit"]:hover, #styled button[type="submit"]:hover {
	border: 2px solid red;
}
#styled input[type="submit"]:active, #styled button[type="submit"]:active {
	background-color: orange;
}